* {
  font-family: 'Press Start 2P', cursive;
  font-variant: small-caps;
  font-size: 3vh;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.displayPokemon {
  background-size: cover;
}

.rivalPokemon{
  background-size: cover;
}

.counter {
  color: blue;
  font-size: 8vh;
  height: 0vh;
}

.strengths, .weaknesses {
  font-weight: bold;
   margin-top: 5vh;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 4vh;
}

form {
  color: black;
  text-shadow: none;
  float: left;
  margin-right: 8vw;
}

#start, #final {
  color: black
}

#textSelection {
  width: 50vw;
  color: black;
  text-shadow: none;
}

.container-fluid {
  background-image: url('grouppokemon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro, .guide, .form, .destinationButton, .blink_me, #final {
  background-color: hsla(360, 0%, 0%, 0.4);
}

.destinationButton {
  padding-top:2vh;
}

.guide {
  padding-bottom: 4vh;
}

.address {
  color: black;
  text-shadow: none;
}

.begin {
  margin-bottom: 15vh;
  color: black;
}

.oddsMessage {
  margin-top: 15vh;
}

#rivalFrequency {
  font-family: sans-serif;
  text-shadow: none;
}

.score {
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#final {
  font-size: 8vh;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-bottom: 65vh;
}
