.displayPokemon {
  height: 84vh;
  background-size: cover;
}

.rivalPokemon{
  @extend .displayPokemon;
}

.strengths{
  font-weight: bold;
   margin-top: 5vh;
}

.weaknesses {
  @@extend .strengths;
}
